*{
    margin: 0;
    padding: 0;
}
.container h1{
    text-align: center;
}
body{
    background-image: url("http://4.bp.blogspot.com/-JTVZ2ajkvrU/UiIb8LLrIII/AAAAAAAAGb4/ioF8FtLFzR0/s1600/1307306470-nature_wallpaper_hd_hd_nature_3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
input[type="text"],input[type="password"]{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
}
.container{
    position: absolute;
    left: 50%;
    padding-top: 40px;
    top: 50%;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    transform: translateX(-50%)translateY(-50%);
    box-sizing: border-box;
    -webkit-box-shadow: -1px 9px 61px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 61px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 61px 11px rgba(0,0,0,0.75);
}
